<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    Reset Password

    <form action="/api/reset-password" method="post">
        <input type="hidden" name="email" value="<%= email %>">
        New Password:
        <input type="password" name="password" id="">
        Re-enter new password:
        <input type="password" name="repassword" id="">
        <input type="submit" value="Change Password">
    </form>

</body>

</html>